@page "/edit-inheritor/{InheritorId:int}"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Rediger arvings oplysninger</PageTitle>

<h1>Rediger oplysninger</h1>

@if (inheritor != null)
{
    <EditForm Model="inheritor" OnValidSubmit="SaveInheritor"> 
        <DataAnnotationsValidator/>
        <div>
            <label>Navn</label>
            <InputText @bind-Value="inheritor.Name" />
        </div>
        <div>     
            <label for="inheritorType">Arveklasse:</label>
            <InputSelect @bind-Value="inheritor.ArveKlasse" class="form-control">
                <option value="">Vælg arveklasse...</option>
                <option checked="@(inheritor.ArveKlasse == ArveKlasse.Type1)" value="@((int)ArveKlasse.Type1)">@((int)ArveKlasse.Type1)</option>
                <option checked="@(inheritor.ArveKlasse == ArveKlasse.Type2)" value="@((int)ArveKlasse.Type2)">@((int)ArveKlasse.Type2)</option>
                <option checked="@(inheritor.ArveKlasse == ArveKlasse.Type3)" value="@((int)ArveKlasse.Type3)">@((int)ArveKlasse.Type3)</option>
            </InputSelect>
        </div>
        <div>
            <button type="submit">Gem</button>
            <button @onclick="CancelEdit">Annuller</button>
        </div>
    </EditForm>
}
else 
{
    <p>Arving ikke fundet.</p>
}

@code {
    [Parameter]
    public int InheritorId {get; set;}
    private Inheritor? inheritor;
    protected override void OnInitialized()
    {
        inheritor = InheritorRepository.GetInheritorById(InheritorId);
    }

    private void SaveInheritor()
    {
        if (inheritor != null)
        {
            InheritorRepository.UpdateInheritor(inheritor);
            NavigationManager.NavigateTo("/FamilyTree");
        }
    }

    private void CancelEdit() {
        
        NavigationManager.NavigateTo("/FamilyTree");
    }}i